


<div class="card blog">
    <div class="card-body">
        <h2 class="card-title">
            Blog Title goes here maybe maybe not !
        </h2>
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class="fa fa-user-o"></i>
                balbarak
            </li>
            <li class="list-inline-item text-muted">
                <i class="fa fa-calendar-o"></i>
                2016-01-03
            </li>
            <li class="list-inline-item">
                <i class="fa fa-comment-o"></i>
                12
            </li>

        </ul>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl lacus, rhoncus vitae ultrices sed, feugiat vitae tortor. Suspendisse faucibus venenatis risus. Ut placerat efficitur interdum. Cras vitae tellus euismod, consequat justo eu, blandit enim. Suspendisse quis ultricies ex, a aliquet nisi. Donec porttitor nibh lorem. Pellentesque ut tellus eu mi mollis consectetur facilisis in est.
        </p>
        <p>
            <a href="#" class="btn btn-primary btn-sm">
                Read More ←
            </a>
        </p>
    </div>
</div>