@model SearchResult<Blog>


@if (Model.Result.Any())
{

    @foreach (var item in Model.Result)
    {
        <div class="col-12">
            <partial name="Parts/_Item" model="item" />
        </div>
    }
}
else
{
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
        لم يتم العثور على المدونة
    </h4>
    <hr>
    <p>
        لم تقم باضافة اي مدونة, بامكانك اضافة مدونة جديدة من خلال
        <a asp-action="add" asp-controller="blog">
            الضغط هنا
        </a>
    </p>

</div>
}
