
@{
    ViewData["Title"] = CommonText.AddPost;
}

@section styles{

    <link href="~/lib/tinymc/skins/lightgray/skin.min.css" rel="stylesheet" />
    <link href="~/lib/tinymc/plugins/codesample/css/prism.min.css" rel="stylesheet" />
}


@section top{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
}

<div class="card">
    <div class="card-body">
        <form method="post"
              asp-action="add">
            <partial name="_Form" model="new BlogViewModel()" />
            <hr />
            <button type="submit" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                @CommonText.Add
            </button>
            <a asp-action="index" class="btn btn-sm btn-outline-danger">
                <i class="fa fa-ban"></i>
                @CommonText.Cancel
            </a>
        </form>
    </div>
</div>


@section scripts{

    <partial name="Parts/_Js" />
}