@model SearchResult<User>



<div class="card">
    <div class="card-body">

        <h3 class="card-title">
            @CommonText.Authors
        </h3>
        <hr/>
        <div id="list">
            <partial name="_List"/>
        </div>
    </div>
</div>