@{
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
    ViewBag.Title = CommonText.Login;
}


<h1 class="text-center">
    تسجيل دخول
</h1>
<div class="form-signin">
    <div class="card">

        <form>
            <div class="card-body">

                <partial name="_LoginForm" model="new LoginViewModel()" />
                <hr />
                <button type="submit" class="btn btn-primary btn-block">
                    @CommonText.Login
                </button>
            </div>
        </form>
    </div>
</div>
