
<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">
        @CommonText.Home
    </a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
</nav>