<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="account" asp-action="login">
            @CommonText.SignIn
        </a>
    </li>
</ul>